<div class="container mt-5">
    <h2>Productos Carrito</h2>
    <div class="row mt-3">
        <!-- Producto 1 -->
        <div class="col-md-4">
            <img src="ruta_imagen_producto1.jpg" alt="Producto 1" class="img-fluid">
            <h4>Nombre Producto 1</h4>
            <p>Precio: $100.00</p>
        </div>

        <!-- Producto 2 -->
        <div class="col-md-4">
            <img src="ruta_imagen_producto2.jpg" alt="Producto 2" class="img-fluid">
            <h4>Nombre Producto 2</h4>
            <p>Precio: $75.00</p>
        </div>

        <!-- Producto 3 -->
        <div class="col-md-4">
            <img src="ruta_imagen_producto3.jpg" alt="Producto 3" class="img-fluid">
            <h4>Nombre Producto 3</h4>
            <p>Precio: $120.00</p>
        </div>
    </div>

    <hr>

    <h2>Información Pago</h2>
    <div class="col-md-6">
        <div class="form-group">
            <label for="numeroTarjeta">Número de tarjeta:</label>
            <input type="text" class="form-control" id="numeroTarjeta" placeholder="**** **** **** 1234">
        </div>
        <div class="form-group">
            <label for="fechaVencimiento">Fecha de vencimiento:</label>
            <input type="text" class="form-control" id="fechaVencimiento" placeholder="MM/YY">
        </div>
        <div class="form-group">
            <label for="nombreTarjeta">Nombre en la tarjeta:</label>
            <input type="text" class="form-control" id="nombreTarjeta" placeholder="Nombre Apellido">
        </div>
    </div>

    <div class="mt-4">
        <!-- Botón de Pagar -->
        <button type="submit" class="btn btn-primary "><i class="fas fa-credit-card"></i>Confirmar Pago</button>
    </div>
</div>