<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>¡FACTURA REALIZADA EXITOSAMENTE!</h2>
            <p class="lead">Gracias por su compra.</p>
            <p>Detalles de la factura:</p>
            <!-- Puedes agregar detalles de la factura aquí si es necesario -->

            <a asp-action="Index" class="btn btn-primary">Volver a la Tienda</a>
        </div>
    </div>
</div>